# BASICS OF PYTHON

# LISTS

## Use for loop print even list and oddlist (do not use comprehension)

In [18]:
# List l1 is defined here
L1 = [100,80,99,204,77,109,56,89]
even = []
odd = []
for i in range(0,8):
    if(L1[i]%2 ==0):
        even.append(L1[i]) 
    else:
        odd.append(L1[i])
print("Even list:",even)
print("Odd list:",odd)

Even list: [100, 80, 204, 56]
Odd list: [99, 77, 109, 89]

In [24]:
# comprehension
L1 = [100,80,99,204,77,109,56,89]
even = []
odd = []
for i in L1:(even.append(i) if(i%2 == 0)  else odd.append(i))
print("Even list:",even)
print("Odd list:",odd)

Even list: [100, 80, 204, 56]
Odd list: [99, 77, 109, 89]

## List Methods

### extend

In [14]:
# Given L2 = [200,89,34]
# add elements 20,-3,1000 to th egiven list at the end
L2 = [200,89,34]
L2.extend([20,-3,1000])
print(L2)

[200, 89, 34, 20, -3, 1000]

### insert

In [15]:
L2.insert(3,2000)
print(L2)

[200, 89, 34, 2000, 20, -3, 1000]

### pop

In [16]:
# pop index value
L2.pop() #last element
print(L2)
L2.pop(3) #index
print(L2)

[200, 89, 34, 2000, 20, -3]
[200, 89, 34, 20, -3]

### remove

In [17]:
#remove element value
L2.append(89)
print(L2)
#removes first occurence
L2.remove(89)
print(L2)

[200, 89, 34, 20, -3, 89]
[200, 34, 20, -3, 89]

### reverse

In [21]:
L3 = list(range(10))
L3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
#reverse
L3.reverse()
L3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Write a program to find numbers nth root

In [41]:
num = int(input("Enter the number: "))
n = int(input("Enter the n: "))
def nthroot(num,n):
    root = num ** (1/n)
    return root
nthroot(num,n)

Enter the number:  8
Enter the n:  5

1.5157165665103982

# TUPLE immutable

In [44]:
t1 = (1,2,"hi",3.4)
t2 = 1,3,"hlo"
print(t1)
print(type(t1))
type(t2)

(1, 2, 'hi', 3.4)
<class 'tuple'>

tuple

## Tuple Methods

### count

In [45]:
t1.count(2)

1

### index

In [52]:
# index first occurence
# index val,start,end
t1.index('hi')

2

In [49]:
t3 = tuple([100,1000,100,200,70,80,100])
t3

(100, 1000, 100, 200, 70, 80, 100)

In [50]:
t3.index(100)

0

In [51]:
t3.index(100,4,7)

6

## Write program to search for a string in a tuple and print its presence in it

In [62]:
tup1 = ("Hello", "Hello World", "Hello friend", "Hello Sir");
#search for "Hello Sir"
# membership operator
if ("Hello Sir" in tup1):
    print("present")
else:
    print("Not Present")

present

In [63]:
# for loop
for i in tup1:
    if i == "Hello Sir" :
        flag = 1
    else:
        flag = 0
if flag:
    print("present")
else:
    print("Not Present")

present

In [68]:
for i in tup1:
    if i == "Helloo Sir" :
        print("present")
        break
else:
    print("Not Present")

Not Present

## Take the list L4  Use for loop to print numbers less <100 with continue

In [74]:
L4 = [100,80,99,204,77,109,56,89]
l = []
for i in L4:
    if i >= 100:
        continue
    else:
        l.append(i)
l

[80, 99, 77, 56, 89]

# DICTIONARIES mutable, keys immutable

In [2]:
d1 = {'Name': 'Ram', 'Age': 27, 'Location': 'Hyderabad'}
print(d1)
type(d1)

{'Name': 'Ram', 'Age': 27, 'Location': 'Hyderabad'}

dict

In [9]:
#dict() constructor
d2 = dict(A=10,B=20,C=30)
print(d2)

{'A': 10, 'B': 20, 'C': 30}

In [10]:
# list of tuples
d3 = dict({('x',1), ('y',2), ('z',3)})
d3

{'x': 1, 'z': 3, 'y': 2}

In [86]:
d2 = {('A', 'B') : [100,200] , 6:100,  'Name': 'Ajith'}
d2

{('A', 'B'): [100, 200], 6: 100, 'Name': 'Ajith'}

In [85]:
d3 = {['A', 'B'] : [100,200] , 6:100,  'Name': 'Ajith'}
d3

TypeError: unhashable type: 'list'

## Dictionaries Methods

In [12]:
print(d1.keys())
print(d1.values())
d1.items()

dict_keys(['Name', 'Age', 'Location'])
dict_values(['Ram', 27, 'Hyderabad'])

dict_items([('Name', 'Ram'), ('Age', 27), ('Location', 'Hyderabad')])

### Form a dictionary using from keys()

In [14]:
L1 = ['A','B','C','D']
d1 = dict.fromkeys(L1)
d1

{'A': None, 'B': None, 'C': None, 'D': None}

In [15]:
d2 = dict.fromkeys(L1,10)
d2

{'A': 10, 'B': 10, 'C': 10, 'D': 10}

### update

In [19]:
# Add a new pair to d2
d2['E'] = 50
d2

{'A': 10, 'B': 10, 'C': 10, 'D': 10, 'E': 50, 'F': 100}

In [20]:
# update if key present else add key
# add/update multiple pairs at a time
d2.update({'F':100})
d2

{'A': 10, 'B': 10, 'C': 10, 'D': 10, 'E': 50, 'F': 100}

In [21]:
d2.update({'D':60,'G':120})
d2

{'A': 10, 'B': 10, 'C': 10, 'D': 60, 'E': 50, 'F': 100, 'G': 120}

### setdefault

In [24]:
# nothing changes if present
d1.setdefault('A',10)
d1

{'A': None, 'B': None, 'C': None, 'D': None}

In [25]:
d1.setdefault('F',10)
d1

{'A': None, 'B': None, 'C': None, 'D': None, 'F': 10}

In [26]:
d1.setdefault({'E':0,'L':90})
d1

TypeError: unhashable type: 'dict'

### Iteration in Dict

In [13]:
d1 = {'Name': 'Ram', 'Age': 27, 'Location': 'Hyderabad'}

In [3]:
for key in d1:
    print(key)

Name
Age
Location

In [4]:
for value in d1.values():
    print(value)

Ram
27
Hyderabad

In [5]:
for key, value in d1.items():
    print(key, "->", value)

Name -> Ram
Age -> 27
Location -> Hyderabad

## Create dict of cricket Players

In [40]:
players = {'Virat':90, 'Rohit':100, 'Rahul':70, 'Hardik':9, 'Gill':20, 'Jazeda':15}
players

{'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 9, 'Gill': 20, 'Jazeda': 15}

In [41]:
players['Aswin'] = 15
players

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jazeda': 15,
 'Aswin': 15}

In [42]:
# update jazeda to 50
players.update({'Jazeda':50})
players

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jazeda': 50,
 'Aswin': 15}

In [43]:
players.update({'Hardik':65, 'Rahane':45})
players

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jazeda': 50,
 'Aswin': 15,
 'Rahane': 45}

In [44]:
players.setdefault('Rahul',60)
players

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jazeda': 50,
 'Aswin': 15,
 'Rahane': 45}

In [45]:
players.setdefault('Pujara',50)
players

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jazeda': 50,
 'Aswin': 15,
 'Rahane': 45,
 'Pujara': 50}

### popitem

In [46]:
# eliminates last one
players.popitem()
players

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jazeda': 50,
 'Aswin': 15,
 'Rahane': 45}

### pop

In [47]:
# elimninates particular one 
# uses key
players.pop('Gill')
players

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Jazeda': 50,
 'Aswin': 15,
 'Rahane': 45}

### get

In [48]:
# fetches value
players.get('Rohit')

100

In [53]:
players.get('Gill', "not present ")  #nothing hapens

'not present '

In [62]:
sum = 0
for v in players.values():
    sum += v
sum

435

In [66]:
del sum
sum(players.values())

435

## Write a for loop to print

In [67]:
for key, value in players.items():
    print(key, "->", value)

Virat -> 90
Rohit -> 100
Rahul -> 70
Hardik -> 65
Jazeda -> 50
Aswin -> 15
Rahane -> 45

# SETS

## Find the sum of first 10 integers 1-10

In [82]:
sum = 0
for i in range(1,11):
    sum += i
sum

55

In [83]:
sum = 0
i = 1
while(i <= 10):
    sum += i
    i += 1
sum

55

In [87]:
s = {10,'A',9.5,1+2j}
print(s)
type(s)

{9.5, 10, 'A', (1+2j)}

set

In [89]:
list = [1,8,9,0,10,78,8,8,8]
s2 = set(list)
print(s2)
type(s2)

{0, 1, 8, 9, 10, 78}

set

In [113]:
s = {1,2,2,4.5,'a',[6,7]}
s

TypeError: unhashable type: 'list'

In [114]:
s = {1,2,2,4.5,'a',(6,7)}
s

{(6, 7), 1, 2, 4.5, 'a'}

## Set Methods

In [85]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### union

In [90]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}
s1|s2

{1, 2, 3, 4, 5, 6, 7}

In [91]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

### intersection

In [95]:
s1 & s2

{4}

In [94]:
s1.intersection(s2)

{4}

### difference

In [96]:
s1 - s2

{1, 2, 3}

In [101]:
s1.difference(s2)

{1, 2, 3}

In [97]:
s2 - s1

{5, 6, 7}

### symmetric difference

In [104]:
s1.symmetric_difference(s2)

{1, 2, 3, 5, 6, 7}

In [105]:
s2.symmetric_difference(s1)

{1, 2, 3, 5, 6, 7}

### subset,superset

In [109]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s2.issubset(s1)

True

In [110]:
s1.issuperset(s2)

True

### disjointset

In [112]:
s1 = {1,2,3}
s2 = {4,5}
s1.isdisjoint(s2)

True

# STRINGS

In [117]:
s = "Welcome to AI Data Science Training Class"
print(s)
type(s)

Welcome to AI Data Science Training Class

str

In [135]:
s2 = """ "He said, that's great, "the movie is excellent" """
print(s2)

 "He said, that's great, "the movie is excellent"

## String Methods

In [116]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### capitalize

In [136]:
s = "Welcome to AI Data Science Training Class"

In [137]:
s.capitalize()

'Welcome to ai data science training class'

### casefold

In [138]:
s.casefold()

'welcome to ai data science training class'

### find

In [141]:
s.find('AI')

11

In [142]:
s.find('AI',15,25)

-1

### center

In [157]:
# adds padding
s.center(50)

'    Welcome to AI Data Science Training Class     '

In [158]:
s.center(50, "-")

'----Welcome to AI Data Science Training Class-----'

### lower

In [146]:
s.lower()

'welcome to ai data science training class'

### upper

In [147]:
s.upper()

'WELCOME TO AI DATA SCIENCE TRAINING CLASS'

### strip

In [148]:
s3 = "    welcome to home    "
s3.strip()

'welcome to home'

In [159]:
s3.lstrip()

'welcome to home    '

In [161]:
s3.rstrip()

'    welcome to home'

### count

In [163]:
s.count('a')

4

### split

In [164]:
s.split()

['Welcome', 'to', 'AI', 'Data', 'Science', 'Training', 'Class']

### swapcase

In [165]:
s.swapcase()

'wELCOME TO ai dATA sCIENCE tRAINING cLASS'

# LIST COMPREHENSION

In [166]:
l1 = [10,31,40,84,93,62]
l2 = []
for i in l1:
    l2.append(i)
l2

[10, 31, 40, 84, 93, 62]

In [168]:
[x for x in l1]

[10, 31, 40, 84, 93, 62]

## print even num of l1

In [174]:
l2 = [i for i in l1 if i%2 == 0]
l2

[10, 40, 84, 62]

# SHORT FORM OF IF ELSE

In [176]:
n = 10
print(n) if(n<100) else print("greater")

10

In [177]:
n = 43
print("Even") if(n%2 ==0) else print("Odd")

Odd

# LAMBDA FUNCTION

In [179]:
#short way of writing user defined funcions
nthroot = lambda x,n : x**(1/n) 
nthroot(8,5)

1.5157165665103982

In [201]:
del list
List = list(range(10,30))
even = lambda List : [x for x in List if(x%2 ==0)] 
even(List)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## Default arguments

In [204]:
def nthroot(x=100,y=3):
    res = x**(1/n)
    return res
nthroot()

2.51188643150958

In [205]:
nthroot(5,8)

1.379729661461215